In [2]:
import pyodbc
print("Welcome to Network Input File Generation")
filename1 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/id_user.txt'
filename2 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/id_game.txt'
filename3 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/id_item.txt'
filename4 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/game_user.txt'
filename5 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/item_user.txt'
filename6 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/item_game.txt'
filename7 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/user_friend.txt'
filename8 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/group_user.txt'
filename9 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/test2days_item_user.txt'
filename10 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/test4days_item_user.txt'
filename11 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/test10days_item_user.txt'
connection = pyodbc.connect('Driver={SQL Server Native Client 11.0};Server=localhost;Database=Gaming;Trusted_Connection=yes')
cursor=connection.cursor()
cmd1=("select distinct uid from user_training order by uid")
cmd2=("select distinct gameid, game_name from game_info order by gameid")
cmd3=("select distinct CAST(itemid AS VARCHAR) as itemid from deal_tab where activatedtime > '2014-03-22' and activatedtime < '2014-04-12' union select distinct item_id from shop_txn where time_stamp > '2014-03-22' and time_stamp < '2014-04-12'")
cmd4=("select distinct g.gameid, g.uid from game_start_log g join user_training u on g.uid = u.uid order by g.gameid")
cmd5=("select distinct itemid, uid from item_user order by uid")
cmd6=("select distinct itemid, gameid from item_game order by gameid")
cmd7=("select distinct uid, buddyid from friend_data order by uid")
cmd8=("select distinct groupid, uid from group_data order by groupid")
cmd9=("select distinct itemid, uid from test2Days_item_user order by uid")
cmd10=("select distinct itemid, uid from test4Days_item_user order by uid")
cmd11=("select distinct itemid, uid from test10Days_item_user order by uid")
cursor.execute(cmd1)
results = cursor.fetchall()
result = [x[0] for x in results]
a = 1
with open(filename1,'w') as f1:
    for user_id in result:
        f1.write(str(user_id) + "\t" + "uUser" + str(a) + "\n")
        a = a + 1
f1.close()
cursor.execute(cmd2)
result = cursor.fetchall()
with open(filename2,'w') as f2:
    for game_id,game_name in result:
        f2.write(str(game_id) + "\t" + "g" + game_name + "\n")
f2.close()
cursor.execute(cmd3)
results = cursor.fetchall()
result = [x[0] for x in results]
b = 1
with open(filename3,'w') as f3:
    for item_id in result:
        f3.write(str(item_id) + "\t" + "iItem" + str(b) + "\n")
        b = b + 1
f3.close()
cursor.execute(cmd4)
result = cursor.fetchall()
with open(filename4,'w') as f4:
    for game_id,user_id in result:
        f4.write(str(game_id) + "\t" + str(user_id) + "\n")
f4.close()
cursor.execute(cmd5)
result = cursor.fetchall()
with open(filename5,'w') as f5:
    for item_id,user_id in result:
        f5.write(str(item_id) + "\t" + str(user_id) + "\n")
f5.close()
cursor.execute(cmd6)
result = cursor.fetchall()
with open(filename6,'w') as f6:
    for item_id,game_id in result:
        f6.write(str(item_id) + "\t" + str(game_id) + "\n")
f6.close()
cursor.execute(cmd7)
result = cursor.fetchall()
with open(filename7,'w') as f7:
    for uid,buddyid in result:
        f7.write(str(uid) + "\t" + str(buddyid) + "\n")
f7.close()
cursor.execute(cmd8)
result = cursor.fetchall()
with open(filename8,'w') as f8:
    for groupid,uid in result:
        f8.write(str(groupid) + "\t" + str(uid) + "\n")
f8.close()
cursor.execute(cmd9)
result = cursor.fetchall()
with open(filename9,'w') as f9:
    for item_id,user_id in result:
        f9.write(str(item_id) + "\t" + str(user_id) + "\n")
f9.close()
cursor.execute(cmd10)
result = cursor.fetchall()
with open(filename10,'w') as f10:
    for item_id,user_id in result:
        f10.write(str(item_id) + "\t" + str(user_id) + "\n")
f10.close()
cursor.execute(cmd11)
result = cursor.fetchall()
with open(filename11,'w') as f11:
    for item_id,user_id in result:
        f11.write(str(item_id) + "\t" + str(user_id) + "\n")
f11.close()
print("Success")
connection.commit()
connection.close()

Welcome to Network Input File Generation
Success

In [9]:
import random
userset = set()
source_training_file = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/game_user.txt'
random_user_file = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/selected_user.txt'
with open(source_training_file) as userfile:
    for line in userfile:
        toks = line.strip().split("\t")
        userset.add(toks[1])
print("Total number of users in training file:", len(userset))
rand_userlist = random.sample(userset, 10000)
print("Number of users selected randomly:", len(rand_userlist))
with open(random_user_file, 'w') as f:
    for user in rand_userlist:
        f.write(user + "\n")
userfile.close()
f.close()
print("Success")

Total number of users in training file: 187398
Number of users selected randomly: 10000
Success

In [3]:
# Creating Gaming library
import Gaming.network_input_file as nif
nif.generate_file('/test10days_item_user.txt', 'select distinct itemid, uid from test10Days_item_user order by uid')

Welcome to Network Input File Generation
Success

In [1]:
import pyodbc
filename12 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/user_gaming_sessions.txt'
filename13 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/item_price.txt'
connection = pyodbc.connect('Driver={SQL Server Native Client 11.0};Server=localhost;Database=Gaming;Trusted_Connection=yes')
cursor=connection.cursor()
cmd12=("select distinct uid, gaming_sessions from user_gaming_sessions order by gaming_sessions")
cmd13=("select distinct item_id, shell_amount from item_price order by shell_amount")
cursor.execute(cmd12)
result = cursor.fetchall()
with open(filename12,'w') as f12:
    for user_id,gaming_session in result:
        f12.write(str(user_id) + "\t" + str(gaming_session) + "\n")
f12.close()
cursor.execute(cmd13)
result = cursor.fetchall()
with open(filename13,'w') as f13:
    for item_id,shell_amount in result:
        f13.write(str(item_id) + "\t" + str(shell_amount) + "\n")
f13.close()
print("Success")
connection.commit()
connection.close()

Success

In [1]:
filepath1 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files'
filepath2 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/With_Headers/cluster_gaming_sessions.txt'
filepath3 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/With_Headers/cluster_item_prices.txt'
with open(filepath2, 'w') as f1:
    with open(filepath1 + "/cluster_userid_sessions.txt") as f2:
        for line in f2:
            toks = line.strip().split("\t")
            f1.write(str(toks[0]) + "\t" + str(toks[2]) + "\n")
f1.close()
f2.close()
with open(filepath3, 'w') as f1:
    with open(filepath1 + "/cluster_item_prices.txt") as f2:
        for line in f2:
            toks = line.strip().split("\t")
            if (int(toks[2])>0):
                f1.write(str(toks[0]) + "\t" + str(toks[2]) + "\n")
f1.close()
f2.close()

In [2]:
import pyodbc
filename14 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/rank_item_quantity_price_sales.txt'
filename15 = 'C:/Vidit/PhD/RA Work/KZ - RA/Gaming Project/data/Files/cluster_item_quantity.txt'
connection = pyodbc.connect('Driver={SQL Server Native Client 11.0};Server=localhost;Database=Gaming;Trusted_Connection=yes')
cursor=connection.cursor()
cmd14=("select * from item_quantity_price_sales order by item_quantity desc")
cmd15=("select cluster, quantity from cluster_item_quantity order by cluster")
cursor.execute(cmd14)
result = cursor.fetchall()
rank = 1
with open(filename14,'w') as f14:
    for item_id, item_quantity, item_price, item_sales in result:
        f14.write(str(rank) + "\t" + str(item_id) + "\t" + str(item_quantity) + "\t" + str(item_price) + "\t" + str(item_sales) + "\n")
        rank = rank + 1
f14.close()
cursor.execute(cmd15)
result = cursor.fetchall()
with open(filename15,'w') as f15:
    for cluster, quantity in result:
        f15.write(str(cluster) + "\t" + str(quantity) + "\n")
f15.close()
print("Success")
connection.commit()
connection.close()

Success